<mat-card class="example-card editcard">
    <mat-card-content class="text-center">
        <h2 class="text-center">Edit Form</h2>
        <form [formGroup]="updateForm" (ngSubmit)="update()">
            <div>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Product Name:</mat-label>
                    <input type="text" matInput required formControlName="name" placeholder="Product name">
                    <mat-error *ngIf="name.hasError('required')">
                        Product name is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Category:</mat-label>
                    <input type="text" matInput required formControlName="category" placeholder="Category">
                    <mat-error *ngIf="category.hasError('required')">
                        Category is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Price:</mat-label>
                    <input type="text" matInput required formControlName="price" placeholder="Price">
                    <mat-error *ngIf="price.hasError('required')">
                        Price is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Description</mat-label>
                    <textarea matInput placeholder="About product....." required formControlName="description"></textarea>
                    <mat-error *ngIf="description.hasError('required')">
                        Description is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="text-center"><button [disabled]="updateForm.invalid" mat-raised-button>Submit</button>
            </div>
        </form>
    </mat-card-content>
</mat-card>