<div class="footer">
    <div class="container">
        <div fxLayout="row wrap" fxLayoutAlign="center center">
            <div fxFlex="50%">
                <div class="footer-navbar">
                    <a class="footer-menu" href="#">HOME</a>
                    <a class="footer-menu" href="#">ABOUT</a>
                    <a class="footer-menu" href="#">TESTIMONIALS</a>
                    <a class="footer-menu" href="#">FAQS</a>
                    <a class="footer-menu" href="#">INSURANCE</a>
                    <a class="footer-menu" href="#">POLICY</a>
                    <a class="footer-menu" href="#">IMPRESSUM</a>
                </div>
            </div>
        </div>
    </div>
</div>