<div class="footer">
    <div class="container">
        <div class="row justify-content-center d-flex align-content-center">
            <div class="col-lg-2 text-center">
                <img src="" alt="Logo" />
            </div>
            <div class="col-lg-8">
                <div class="footer-navbar text-center p-4">
                    <a class="footer-menu" href="#">HOME</a>
                    <a class="footer-menu" href="#">ABOUT</a>
                    <a class="footer-menu" href="#">TESTIMONIALS</a>
                    <a class="footer-menu" href="#">FAQS</a>
                    <a class="footer-menu" href="#">INSURANCE</a>
                    <a class="footer-menu" href="#">POLICY</a>
                    <a class="footer-menu" href="#">IMPRESSUM</a>
                </div>
            </div>
            <div class="col-lg-2 text-center">
                <a href="#"><img src="" alt="fb" class="Fb" /></a>
                <a href="#"><img src="" alt="insta" class="Insta" /></a>
            </div>
        </div>
    </div>
</div>